@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', 'arial';
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

.container {
    position: absolute;
    z-index:1;
    width: 100%;
    height:100%;
    display: grid;
    grid-template-rows: 18% 100% 100% 100% 100% 5%;
    grid-template-areas: "header       "
                         "section1     "
                         "section2     "
                         "section3     "
                         "section4     "
                         "footer       ";
}

header {
    width: 100%;
    height: 100%;
    grid-area: header;
    display: inline-block;

}

.seccion_logo {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 70%;
    width: 100%;
    z-index: 3;
}

.seccion_logo a {
    display: flex;
}

.nav_bar {
    height: 30%;
    display:flex;
    justify-content: center;
    width: 100%;
    background-color: #4c4c4c;
}

.nav_bar ul {
    display: flex;
    align-items: center;
    list-style: none;

}

.box {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    
}
.nav_bar ul li a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    padding-left: 2%;
    padding-right: 2%;
}

.sec {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    display: flex;
    position: relative;
}


.sec img {
    width: 100%;
    height: 60%;
    background-color: black;
    opacity: 0.7;
    position: relative;
    align-items: center;
    z-index: 4;
}

.sec .card h1 {
    display: flex;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 10px;
    text-align: center;
    align-items: flex-end;
    z-index: 4;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 200%;
}



.sec img:hover {
    z-index: 4;
    opacity: 0.4;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}
